{% extends 'base.html' %}



{% block title %}About{% endblock title %}



{% block css %}
.container{
width:60%;
}

.about img{

float:right;
margin: 2px 86px;

}
.about{
margin-bottom:100px;
}

#thanks img{
margin: 2px 30px;
}
#thanks div{
display: inline-block;
}
{% endblock css %}



{% block aboutactive %} active{% endblock aboutactive %}



{% block body %}
<div class="container my-3">
    <div class="about">
        <h3>Our vision</h3>
        <img src="/static/image/building.jpg" height="200px" width="200px" alt="not found">
        <p>The broad vision to make this website to publish valuable Articles,Paintings,quotes,images and many more
            written
            by our young generation students studying in institutions. This website will help them to expand and
            share
            their
            talent, skills and hobby to share among a huge community. They can publish their valuable content
            digitally
            and
            connects with other students having favourable mindset. </p>
    </div>
    <div>
        <h2>Contributers</h2><hr><br>
        <div class="about">
            <h3>Miner-0</h3><br>
            <img src="/static/image/about/adarsh.jpg" width="200px" height="200px" alt="Not found">
            <p>Name: <b>Adarsh Dash</b><br><br>
                Branch: <b>CSIT</b><br><br>
                Group: <b>MINISQUAD</b><br><br>
                Year: <b>@2022</b><br>
                College: <b>GITA AutonomousCollege</b><br><br>
            </p>
        </div>
        <div class="about">
            <h3>Miner-1</h3><br>
            <img src="/static/image/about/prof.jpg" width="200px" height="200px" alt="Not found">
            <p>Name: <b>Abhijeet Parida</b><br><br>
                Branch: <b>CSIT</b><br><br>
                Group: <b>MINISQUAD</b><br><br>
                Year: <b>@2022</b><br>
                College: <b>GITA AutonomousCollege</b><br><br>
            </p>
        </div>
        <div class="about">
            <h3>Miner-2</h3><br>
            <img src="/static/image/about/prof.jpg" width="200px" height="200px" alt="Not found">
            <p>Name: <b>Ankit Ray</b><br><br>
                Branch: <b>CSIT</b><br><br>
                Group: <b>MINISQUAD</b><br><br>
                Year: <b>@2022</b><br>
                College: <b>GITA AutonomousCollege</b><br><br>
            </p>
        </div>
        <div class="about">
            <h3>Miner-3</h3><br>
            <img src="/static/image/about/jyoti.jpeg" width="200px" height="200px" alt="Not found">
            <p>Name: <b>Jyotiranjan Panda</b><br><br>
                Branch: <b>CSIT</b><br><br>
                Group: <b>MINISQUAD</b><br><br>
                Year: <b>@2022</b><br>
                College: <b>GITA AutonomousCollege</b><br><br>
            </p>
        </div>
        <div class="about">
            <h3>Miner-4</h3><br>
            <img src="/static/image/about/soumya.jpeg" width="200px" height="200px" alt="Not found">
            <p>Name: <b>Soumyaranjan Barik</b><br><br>
                Branch: <b>CSIT</b><br><br>
                Group: <b>MINISQUAD</b><br><br>
                Year: <b>@2022</b><br>
                College: <b>GITA AutonomousCollege</b><br><br>
            </p>
        </div>
    </div>

    <!-- special Thanks -->

    <div>
        <h3>Special Thanks to </h3>
        <hr><br><br>
        <div id="thanks">
            <center>
                <div>
                    <img src="/static/image/about/prof.jpg" alt="not found" width="225px" height="225px">
                    <p>Name: <b>Suvendu sir</b></p>
                </div>
                <div>
                    <img src="/static/image/about/prof.jpg" alt="not found" width="225px" height="225px">
                    <p>Name: <b>Dr. Debasish Das</b></p>
                </div>
            </center>
        </div>
    </div>


</div>
{% endblock body %}