{% extends 'base.html' %}



{% block title %}Search Results{% endblock title %}



{% block css %}
.container{
    width:80%;
}
{% endblock css %}



{% block body %}
<div class="container my-3">
    <h3>Search Results for >> {{query}}</h3>
    {% if allPosts|length <= 0 %}
    <p>Your search : <strong>{{query|truncatechars:50}}</strong> </p>
    <h4>Not found</h4>
    {% endif %}
    {% for post in allPosts %}
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
                    <h3 class="mb-0">{{post.title}}</h3>
                    <div class="mb-1 text-muted">{{post.datetime}}</div>
                    <p class="card-text mb-auto">{{post.content|truncatechars:400}}</p>
                    <div >
                        <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
                    </div>
                </div>
                <div class="col-auto d-none d-lg-block">
                      <img src="/{{post.postImage}}" alt="no-image" height="200px" width="200px">
                </div>
            </div>
    {% endfor %}
</div>
{% endblock body %}